---
const siteConfig = import.meta.env.SITE_CONFIG;
const currentYear = new Date().getFullYear();
---
<footer>
    <section class="mb-8">
        <p class="text-center text-md leading-5 text-gray-500">© {siteConfig.name} - {currentYear}</p>
        <a href="https://fraai.agency?utm_source=nexxura.be&utm_medium=referral&utm_campaign=footer_credit" target="_blank" rel="noopener noreferrer" class="text-center text-xs leading-5 text-gray-500 block hover:underline">Deze website is Fraai.</a>
    </section>
</footer>