@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --color-brand-50: #eafff7;
    --color-brand-100: #cdfee9;
    --color-brand-200: #a0fad8;
    --color-brand-300: #63f2c5;
    --color-brand-400: #25e2ac;
    --color-brand-500: #00cc99;
    --color-brand-600: #00a47b;
    --color-brand-700: #008367;
    --color-brand-800: #006752;
    --color-brand-900: #005545;
    --color-brand-950: #003028;
    --font-sans: "Nunito Sans", sans-serif;
}