---
import Layout from "../../../layouts/Layout.astro";

import {Image} from 'astro:assets';
import featureImage from '../../../assets/diensten/draaien/feature.png';
import Contact from "../../../components/contact.astro";

export interface Props {
    title: string;
}

const {title = 'Lassen'} = Astro.props;
---
<Layout title={title}>
    <section class="py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-4xl lg:mx-0">
                <h2 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">{title}</h2>
                <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Bij Nexxura realiseren we hoogwaardige lasconstructies, zowel voor eenvoudige als complexe projecten. Met expertise in MIG- en TIG-lassen, leveren wij op maat gemaakte oplossingen voor diverse toepassingen in verschillende materialen.</p>
                <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Onze vakbekwame lassers zorgen voor sterke en duurzame verbindingen, met oog voor detail en nauwkeurigheid. Of het nu gaat om constructies in staal, roestvrij staal of andere metalen, wij garanderen topkwaliteit en precisie in elk laswerk.</p>
                <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Van ontwerp tot uitvoering, wij bieden complete lasoplossingen die voldoen aan de hoogste industriële standaarden.</p>
            </div>
        </div>
    </section>
    <Contact />
</Layout>